<!-- index.html -->
{% extends 'base.html' %}

{% block title %}
    Chakraless' Portfolio
{% endblock %}

{% block content %}
    <h2 class="main-heading">Welcome to the Home Page</h2>
    
    <!-- About me section -->
    <h3>About me</h3>
    <p>
        Hello there! I'm a 15-year-old enthusiast who finds joy in the world of coding. My journey into the realm of programming began with Python, and I've been navigating its syntax and possibilities with a sense of curiosity and determination. As an intermediate Python developer, I've embraced the challenges that come with writing code, always eager to explore new concepts and sharpen my skills.
    </p>
    
    <!-- Add some spacing -->
    <p>
        Coding for me is not just about crafting lines of text; it's a dynamic and creative process that allows me to bring ideas to life. I enjoy problem-solving and the satisfaction of seeing my code execute seamlessly. Whether I'm working on personal projects or collaborating with others, I bring a passion for innovation and a commitment to continuous learning.
    </p>
    
    <!-- Projects link -->
    <a href="http://127.0.0.1:5000/projects" class="projects-link">
        Want to see my projects? Click here.
    </a>
{% endblock %}
